
/Flask - 8_MVC/Atividade 1/models/__pycache__
/Flask - 8_MVC/Atividade 1/controllers/__pycache__
/Flask - 8_MVC/Questão 1 - Lista/models/__pycache__
/Flask - 8_MVC/Atividade 1/database/__pycache__
/Flask - 9_Blueprint/Atividades/Atividade em Sala/emprestimo/__pycache__
/Flask - 8_MVC/Atividade 1/__pycache__
