<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <form action="{{ url_for('index') }}" method="POST">
        <input type="text" name="nome" placeholder="Nome de Usuário">
        <input type="submit" value="Enviar">
    </form>
    {% if users %}
        {% for user in users %}
            <p>{{ user.nome }} <a href="{{url_for('edit', id=user.id)}}">Editar</a> <a href="{{url_for('remove', id=user.id)}}">Remover</a></p>
        {% endfor %}
    {% else %}
        <p>Nenhum usuário cadastrado</p>
    {% endif %}
</body>
</html>